.dashli-bubble-world-map {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  .dashli-bubble-world-map .dashli-flex-text {
    flex-grow: 1;
    height: 0; }
  .dashli-bubble-world-map .dashli-bubble-world-map-visual {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
