.dashli-bar-chart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 0;
  margin: 30px 15px;
  padding: 10px 0;
}

.dashli-bar-chart-item {
  display: flex;
  flex-direction: row;
  background: rgba(white, 0.3);
  align-items: center;
}

.dashli-bar-chart-item-label {
  white-space: nowrap; 
  padding: 0 10px;
}

.dashli-bar-chart-item-value {
  position: absolute;
  right: 20px;
}