.dashli-donut-chart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 0;
  margin: 50px 15px 40px;
  
  .dashli-donut-chart-visual {
    flex-grow: 1; 
    height: 0;

    .dashli-donut-chart-value-0 {
      fill: $chart-color-0;
    }

    .dashli-donut-chart-value-1 {
      fill: $chart-color-1;
    }

    .dashli-donut-chart-value-2 {
      fill: $chart-color-2;
    }

    .dashli-donut-chart-value-3 {
      fill: $chart-color-3;
    }

    .dashli-donut-chart-value-4 {
      fill: $chart-color-4;
    }

    .dashli-donut-chart-value-5 {
      fill: $chart-color-5;
    }

    .dashli-donut-chart-value-6 {
      fill: $chart-color-6;
    }

    .dashli-donut-chart-value-7 {
      fill: $chart-color-7;
    }

    .dashli-donut-chart-value-8 {
      fill: $chart-color-8;
    }

    .dashli-donut-chart-value-9 {
      fill: $chart-color-9;
    }
  }

  .dashli-donut-chart-legend {
    position: absolute;
    margin: auto;
    flex-grow: 1;
    align-items: center;
    display: flex;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        display: flex;
        align-items: center;
        width: 100%;
      }

      .dashli-donut-chart-legend-color {
        background: $light-color;
        border-radius: 50%;
        margin: 2%;
        margin-right: 5%;
      }

      .dashli-donut-chart-legend-text {
        flex-grow: 1;
        width: 0;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .dashli-donut-chart-legend-color-0 {
        background: $chart-color-0;
      }

      .dashli-donut-chart-legend-color-1 {
        background: $chart-color-1;
      }
  
      .dashli-donut-chart-legend-color-2 {
        background: $chart-color-2;
      }
  
      .dashli-donut-chart-legend-color-3 {
        background: $chart-color-3;
      }
  
      .dashli-donut-chart-legend-color-4 {
        background: $chart-color-4;
      }

      .dashli-donut-chart-legend-color-5 {
        background: $chart-color-5;
      }

      .dashli-donut-chart-legend-color-6 {
        background: $chart-color-6;
      }

      .dashli-donut-chart-legend-color-7 {
        background: $chart-color-7;
      }

      .dashli-donut-chart-legend-color-8 {
        background: $chart-color-8;
      }

      .dashli-donut-chart-legend-color-9 {
        background: $chart-color-9;
      }
    }

  }
}