.dashli-flex-text-value {
  display: flex;
  flex-grow: 1;

  .dashli-flex-text-value-icon {
    display: flex;
    margin-right: 10px;
  }

  .dashli-flex-text-value-values {
    display: flex;
    flex-direction: column;
    flex-grow: 1;   

    .dashli-flex-text-value-value {
      display: flex;
      font-size: 0px;
      font-weight: 600;
      flex-grow: 1;
      white-space: nowrap;
    }
  
    .dashli-flex-text-value-additional-value {
      display: flex;
      font-size: 0px;
      flex-grow: 1;
      white-space: nowrap;
    }
  }

  .dashli-flex-text-value-reference {
    position: absolute;
    top: 0;
    left: -10000px;
    display: flex;

    .dashli-flex-text-value-icon {
      font-size: 40px;
      line-height: 40px;
    }

    .dashli-flex-text-value-values {
      .dashli-flex-text-value-value {
        font-size: 40px;
        line-height: 40px;
        align-items: flex-end;
        
        .dashli-flex-text-value-unit {
          font-size: 20px;
          line-height: 20px;
        }
      }

      .dashli-flex-text-value-additional-value {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
