.flex-text-value {
  display: flex;
  flex-grow: 1;

  .icon {
    display: flex;
    margin-right: 10px;
  }

  .values {
    display: flex;
    flex-direction: column;
    flex-grow: 1;   

    .value {
      display: flex;
      font-size: 0px;
      font-weight: bold;
      flex-grow: 1;
      white-space: nowrap;
    }
  
    .additional-value {
      display: flex;
      font-size: 0px;
      flex-grow: 1;
      white-space: nowrap;
    }
  }

  .reference {
    position: absolute;
    top: 0;
    left: -10000px;
    display: flex;

    // left: 0;
    // background: red;

    .icon {
      font-size: 40px;
      line-height: 40px;
    }

    .values {
      .value {
        font-size: 40px;
        line-height: 40px;
        align-items: flex-end;
        
        .unit {
          font-size: 20px;
          line-height: 20px;
        }
      }

      .additional-value {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
