html, body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #212529; }

.dashli-story {
  padding: 10px; }
  .dashli-story .dashli-story-header {
    display: flex; }
    .dashli-story .dashli-story-header h1 {
      padding: 0 0 0 4px;
      margin: 0;
      flex-grow: 1;
      text-transform: uppercase; }
    .dashli-story .dashli-story-header .dashli-story-theme-selection {
      margin-top: 5px; }

.dashli-story.dashli-theme-dark {
  background: #212529;
  color: white; }
