.dashli-area-chart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .dashli-flex-text-value {
    flex-grow: 1;
    height: 0;
    margin-bottom: 10px;
    margin: 50px 15px 15px;
  }

  .dashli-area-chart-visual {
    flex-grow: 2;
    height: 0;
    .dashli-area-chart-line {
      fill: none;
      stroke-width: 1.5px;
    }
  }
}

.dashli-widget-neutral {
  .dashli-area-chart-line {
    stroke: $chart_neutral_line_color;
  }

  .dashli-area-chart-area {
    fill: $chart_neutral_fill_color;
  }
}

.dashli-widget-success {
  .dashli-area-chart-line {
    stroke: $chart_success_line_color;
  }

  .dashli-area-chart-area {
    fill: $chart_success_fill_color;
  }
}

.dashli-widget-info {
  .dashli-area-chart-line {
    stroke: $chart_info_line_color;
  }

  .dashli-area-chart-area {
    fill: $chart_info_fill_color;
  }
}

.dashli-widget-warning {
  .dashli-area-chart-line {
    stroke: $chart_warning_line_color;
  }

  .dashli-area-chart-area {
    fill: $chart_warning_fill_color;
  }
}

.dashli-widget-danger {
  .dashli-area-chart-line {
    stroke: $chart_danger_line_color;
  }

  .dashli-area-chart-area {
    fill: $chart_danger_fill_color;
  }
}
