.dashli-area-chart {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  .dashli-area-chart .dashli-flex-text {
    flex-grow: 1;
    height: 0;
    margin-bottom: 10px; }
  .dashli-area-chart .dashli-area-chart-visual {
    flex-grow: 2;
    height: 0;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -33px; }
    .dashli-area-chart .dashli-area-chart-visual .dashli-area-chart-line {
      fill: none;
      stroke-width: 1.5px; }
