.dashli-theme-dark {
  background: #1f1f1f;

  $dark-color: #1f1f1f;
  $light-color: #f8f9fa;

  $bg-neutral: #121212;
  $bg-success: #008b7d;
  $bg-info: #3748ac;
  $bg-warning: #ff8d02;
  $bg-danger: #e61a58;
  $bg-undefined: #121212;

  $bg-neutral-text-color: $light-color;
  $bg-success-text-color: $light-color;
  $bg-info-text-color: $light-color;
  $bg-warning-text-color: $light-color;
  $bg-danger-text-color: $light-color;
  $bg-undefined-text-color: $light-color;

  $widget-border-radius: 5px;

  @keyframes pulse-dark {
    0% {
      background-color: rgba($bg-undefined, 0.1)
    }
    25% {
      background-color: rgba($bg-undefined, 0.6)
    }
    50% {
      background-color: $bg-undefined
    }
    75% {
      background-color: rgba($bg-undefined, 0.6)
    }
    100% {
      background-color: rgba($bg-undefined, 0.1)
    }
  }

  .dashli-widget-undefined {
    color: $bg-undefined-text-color;
    animation: pulse-dark 1.5s infinite ease-in-out;
  }

  @import 'styles';
}