.dashli-theme-dark {
  background: #1f1f1f; }

@keyframes pulse-dark {
  0% {
    background-color: rgba(18, 18, 18, 0.1); }
  25% {
    background-color: rgba(18, 18, 18, 0.6); }
  50% {
    background-color: #121212; }
  75% {
    background-color: rgba(18, 18, 18, 0.6); }
  100% {
    background-color: rgba(18, 18, 18, 0.1); } }
  .dashli-theme-dark .dashli-widget-undefined {
    color: #f8f9fa;
    animation: pulse-dark 1.5s infinite ease-in-out; }
  .dashli-theme-dark .dashli-column {
    display: flex;
    flex-direction: column;
    width: 0; }
    .dashli-theme-dark .dashli-column .dashli-widget {
      height: 0;
      width: auto; }
  .dashli-theme-dark .dashli-dashboard, .dashli-theme-dark .dashli-dashboard-wrapper {
    display: flex;
    box-sizing: border-box;
    flex-direction: column; }
  .dashli-theme-dark .dashli-dashboard-wrapper {
    width: calc(100% + 10px);
    margin-left: -5px; }
  .dashli-theme-dark .dashli-flex-text {
    display: flex;
    flex-grow: 1; }
    .dashli-theme-dark .dashli-flex-text .dashli-flex-text-icon {
      display: flex;
      margin-right: 10px; }
    .dashli-theme-dark .dashli-flex-text .dashli-flex-text-values {
      display: flex;
      flex-direction: column;
      flex-grow: 1; }
      .dashli-theme-dark .dashli-flex-text .dashli-flex-text-values .dashli-flex-text-value {
        display: flex;
        font-size: 0px;
        font-weight: bold;
        flex-grow: 1;
        white-space: nowrap; }
      .dashli-theme-dark .dashli-flex-text .dashli-flex-text-values .dashli-flex-text-additional-value {
        display: flex;
        font-size: 0px;
        flex-grow: 1;
        white-space: nowrap; }
    .dashli-theme-dark .dashli-flex-text .dashli-flex-text-reference {
      position: absolute;
      top: 0;
      left: -10000px;
      display: flex; }
      .dashli-theme-dark .dashli-flex-text .dashli-flex-text-reference .dashli-flex-text-icon {
        font-size: 40px;
        line-height: 40px; }
      .dashli-theme-dark .dashli-flex-text .dashli-flex-text-reference .dashli-flex-text-values .dashli-flex-text-value {
        font-size: 40px;
        line-height: 40px;
        align-items: flex-end; }
        .dashli-theme-dark .dashli-flex-text .dashli-flex-text-reference .dashli-flex-text-values .dashli-flex-text-value .dashli-flex-text-unit {
          font-size: 20px;
          line-height: 20px; }
      .dashli-theme-dark .dashli-flex-text .dashli-flex-text-reference .dashli-flex-text-values .dashli-flex-text-additional-value {
        font-size: 20px;
        line-height: 20px; }
  .dashli-theme-dark .dashli-tooltip {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: flex-end; }
    .dashli-theme-dark .dashli-tooltip button {
      width: 21px;
      height: 21px;
      display: block;
      text-align: center;
      border: none;
      outline: none;
      border-radius: 11px;
      font-weight: 600;
      cursor: pointer;
      font-size: 16px;
      line-height: 18px; }
    .dashli-theme-dark .dashli-tooltip button:active {
      outline: none;
      border: none; }
    .dashli-theme-dark .dashli-tooltip .dashli-tooltip-arrow {
      padding-top: 5px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      z-index: 4; }
    .dashli-theme-dark .dashli-tooltip .dashli-tooltip-content {
      position: fixed;
      display: block;
      width: 100px;
      background: #f8f9fa;
      color: #1f1f1f;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 1px 1px 25px 0px rgba(0, 0, 0, 0.32);
      z-index: 3; }
      .dashli-theme-dark .dashli-tooltip .dashli-tooltip-content h1:first-child, .dashli-theme-dark .dashli-tooltip .dashli-tooltip-content h2:first-child, .dashli-theme-dark .dashli-tooltip .dashli-tooltip-content h3:first-child, .dashli-theme-dark .dashli-tooltip .dashli-tooltip-content h4:first-child {
        margin-top: 0; }
      .dashli-theme-dark .dashli-tooltip .dashli-tooltip-content p:last-child {
        margin-bottom: 0; }
  .dashli-theme-dark .dashli-widget-neutral .dashli-tooltip button {
    color: #121212;
    background-color: #f8f9fa; }
  .dashli-theme-dark .dashli-widget-success .dashli-tooltip button {
    color: #008b7d;
    background-color: #f8f9fa; }
  .dashli-theme-dark .dashli-widget-info .dashli-tooltip button {
    color: #3748ac;
    background-color: #f8f9fa; }
  .dashli-theme-dark .dashli-widget-warning .dashli-tooltip button {
    color: #ff8d02;
    background-color: #f8f9fa; }
  .dashli-theme-dark .dashli-widget-danger .dashli-tooltip button {
    color: #e61a58;
    background-color: #f8f9fa; }
  .dashli-theme-dark .dashli-row {
    display: flex;
    width: 100%;
    flex-grow: 1; }
  .dashli-theme-dark .dashli-column > .dashli-row > .dashli-widget {
    height: auto; }
  .dashli-theme-dark .dashli-widget {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;
    padding: 0;
    position: relative;
    width: 0;
    min-height: 60px;
    overflow: hidden; }
    .dashli-theme-dark .dashli-widget .dashli-widget-title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 800;
      z-index: 2;
      position: absolute;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      top: 15px;
      left: 15px;
      right: 40px; }
    .dashli-theme-dark .dashli-widget .dashli-widget-tooltip {
      position: absolute;
      top: 15px;
      right: 15px; }
    .dashli-theme-dark .dashli-widget .dashli-widget-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border-radius: 5px; }
    .dashli-theme-dark .dashli-widget .dashli-widget-updated {
      white-space: nowrap;
      width: 100%;
      height: 16px;
      z-index: 2;
      position: absolute;
      bottom: 15px;
      left: 15px; }
  .dashli-theme-dark .dashli-widget-neutral {
    background-color: #121212;
    color: #f8f9fa; }
  .dashli-theme-dark .dashli-widget-success {
    background-color: #008b7d;
    color: #f8f9fa; }
  .dashli-theme-dark .dashli-widget-info {
    background-color: #3748ac;
    color: #f8f9fa; }
  .dashli-theme-dark .dashli-widget-warning {
    background-color: #ff8d02;
    color: #f8f9fa; }
  .dashli-theme-dark .dashli-widget-danger {
    background-color: #e61a58;
    color: #f8f9fa; }
  .dashli-theme-dark .dashli-widget-undefined {
    background-color: #121212;
    color: #f8f9fa; }
  .dashli-theme-dark .dashli-area-chart {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .dashli-theme-dark .dashli-area-chart .dashli-flex-text {
      flex-grow: 1;
      height: 0;
      margin-bottom: 10px;
      margin: 50px 15px 15px; }
    .dashli-theme-dark .dashli-area-chart .dashli-area-chart-visual {
      flex-grow: 2;
      height: 0; }
      .dashli-theme-dark .dashli-area-chart .dashli-area-chart-visual .dashli-area-chart-line {
        fill: none;
        stroke-width: 1.5px; }
  .dashli-theme-dark .dashli-widget-neutral .dashli-area-chart-line {
    stroke: rgba(31, 31, 31, 0.5); }
  .dashli-theme-dark .dashli-widget-neutral .dashli-area-chart-area {
    fill: rgba(31, 31, 31, 0.3); }
  .dashli-theme-dark .dashli-widget-success .dashli-area-chart-line {
    stroke: rgba(248, 249, 250, 0.5); }
  .dashli-theme-dark .dashli-widget-success .dashli-area-chart-area {
    fill: rgba(248, 249, 250, 0.3); }
  .dashli-theme-dark .dashli-widget-info .dashli-area-chart-line {
    stroke: rgba(248, 249, 250, 0.5); }
  .dashli-theme-dark .dashli-widget-info .dashli-area-chart-area {
    fill: rgba(248, 249, 250, 0.3); }
  .dashli-theme-dark .dashli-widget-warning .dashli-area-chart-line {
    stroke: rgba(248, 249, 250, 0.5); }
  .dashli-theme-dark .dashli-widget-warning .dashli-area-chart-area {
    fill: rgba(248, 249, 250, 0.3); }
  .dashli-theme-dark .dashli-widget-danger .dashli-area-chart-line {
    stroke: rgba(248, 249, 250, 0.5); }
  .dashli-theme-dark .dashli-widget-danger .dashli-area-chart-area {
    fill: rgba(248, 249, 250, 0.3); }
  .dashli-theme-dark .dashli-bar-chart {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 0;
    margin: 30px 15px;
    padding: 10px 0; }
    .dashli-theme-dark .dashli-bar-chart .dashli-bar-chart-item {
      display: flex;
      flex-direction: row;
      background: rgba(255, 255, 255, 0.3);
      align-items: center; }
      .dashli-theme-dark .dashli-bar-chart .dashli-bar-chart-item .dashli-bar-chart-item-label {
        white-space: nowrap;
        flex-grow: 1;
        padding-right: 20px; }
  .dashli-theme-dark .dashli-bubble-world-map {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 15px; }
    .dashli-theme-dark .dashli-bubble-world-map .dashli-flex-text {
      flex-grow: 1;
      height: 0; }
    .dashli-theme-dark .dashli-bubble-world-map .dashli-bubble-world-map-visual {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
  .dashli-theme-dark .dashli-bubble-world-map-dot {
    fill: #f8f9fa; }
  .dashli-theme-dark .dashli-bubble-world-map-active-circle {
    stroke-width: 1;
    fill-opacity: 0.4; }
  .dashli-theme-dark .dashli-bubble-world-map-active-dot-neutral, .dashli-theme-dark .dashli-bubble-world-map-active-circle-neutral {
    fill: #121212;
    stroke: #121212; }
  .dashli-theme-dark .dashli-bubble-world-map-active-dot-danger, .dashli-theme-dark .dashli-bubble-world-map-active-circle-danger {
    fill: #e61a58;
    stroke: #e61a58; }
  .dashli-theme-dark .dashli-bubble-world-map-active-dot-warning, .dashli-theme-dark .dashli-bubble-world-map-active-circle-warning {
    fill: #ff8d02;
    stroke: #ff8d02; }
  .dashli-theme-dark .dashli-bubble-world-map-active-dot-info, .dashli-theme-dark .dashli-bubble-world-map-active-circle-info {
    fill: #3748ac;
    stroke: #3748ac; }
  .dashli-theme-dark .dashli-bubble-world-map-active-dot-success, .dashli-theme-dark .dashli-bubble-world-map-active-circle-success {
    fill: #008b7d;
    stroke: #008b7d; }
  .dashli-theme-dark .dashli-donut-chart {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 0;
    margin: 30px 15px; }
    .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-visual {
      flex-grow: 1;
      height: 0; }
      .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-visual .dashli-donut-chart-value {
        fill: #f8f9fa; }
      .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-visual .dashli-donut-chart-value-0 {
        opacity: 1; }
      .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-visual .dashli-donut-chart-value-1 {
        opacity: 0.7; }
      .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-visual .dashli-donut-chart-value-2 {
        opacity: 0.4; }
      .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-visual .dashli-donut-chart-value-3 {
        opacity: 0.25; }
      .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-visual .dashli-donut-chart-value-4 {
        opacity: 0.15; }
    .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-legend {
      position: absolute;
      margin: auto;
      flex-grow: 1;
      align-items: center;
      display: flex; }
      .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-legend ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%; }
        .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-legend ul li {
          display: flex;
          align-items: center;
          width: 100%; }
        .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-legend ul .dashli-donut-chart-legend-color {
          background: #f8f9fa;
          border-radius: 50%;
          margin: 2%;
          margin-right: 3%; }
        .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-legend ul .dashli-donut-chart-legend-text {
          flex-grow: 1;
          width: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-legend ul .dashli-donut-chart-legend-color-0 {
          opacity: 1; }
        .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-legend ul .dashli-donut-chart-legend-color-1 {
          opacity: 0.7; }
        .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-legend ul .dashli-donut-chart-legend-color-2 {
          opacity: 0.4; }
        .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-legend ul .dashli-donut-chart-legend-color-3 {
          opacity: 0.25; }
        .dashli-theme-dark .dashli-donut-chart .dashli-donut-chart-legend ul .dashli-donut-chart-legend-color-4 {
          opacity: 0.15; }
  .dashli-theme-dark .dashli-gauge-chart {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 50px 15px 40px; }
    .dashli-theme-dark .dashli-gauge-chart .dashli-gauge-chart-visual {
      flex-grow: 1; }
      .dashli-theme-dark .dashli-gauge-chart .dashli-gauge-chart-visual .dashli-gauge-chart-background {
        fill: #f8f9fa;
        opacity: 0.3; }
      .dashli-theme-dark .dashli-gauge-chart .dashli-gauge-chart-visual .dashli-gauge-chart-foreground {
        fill: #f8f9fa;
        opacity: 1; }
    .dashli-theme-dark .dashli-gauge-chart .dashli-gauge-chart-info {
      position: absolute;
      margin: auto;
      flex-grow: 1; }
      .dashli-theme-dark .dashli-gauge-chart .dashli-gauge-chart-info .dashli-flex-text-value {
        height: 0;
        flex-grow: 1;
        justify-content: center; }
      .dashli-theme-dark .dashli-gauge-chart .dashli-gauge-chart-info .dashli-flex-text-additional-value {
        height: 0;
        flex-grow: 1;
        justify-content: center; }
  .dashli-theme-dark .dashli-image {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1; }
  .dashli-theme-dark .dashli-value {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 45px 15px 35px 15px; }
