.dashli-theme-light {

  $dark-color: #222;
  $light-color: white;

  $bg-neutral: #f0f3f5;
  $bg-success: #70C250;
  $bg-info: #17a8f1;
  $bg-warning: #fec22e;
  $bg-danger: #f2483f;
  $bg-undefined: #f0f3f5;

  $bg-neutral-text-color: $dark-color;
  $bg-success-text-color: $light-color;
  $bg-info-text-color: $light-color;
  $bg-warning-text-color: $light-color;
  $bg-danger-text-color: $light-color;
  $bg-undefined-text-color: $dark-color;

  $chart_neutral_line_color: rgba($dark-color, 0.5);
  $chart_neutral_fill_color: rgba($dark-color, 0.3);
  $chart_success_line_color: rgba($light-color, 0.5);
  $chart_success_fill_color: rgba($light-color, 0.3);
  $chart_info_line_color: rgba($light-color, 0.5);
  $chart_info_fill_color: rgba($light-color, 0.3);
  $chart_warning_line_color: rgba($light-color, 0.5);
  $chart_warning_fill_color: rgba($light-color, 0.3);
  $chart_danger_line_color: rgba($light-color, 0.5);
  $chart_danger_fill_color: rgba($light-color, 0.3);

  $chart_color_0: $bg-success;
  $chart_color_1: $bg-info;
  $chart_color_2: $bg-warning;
  $chart_color_3: $bg-danger;
  $chart_color_4: $dark-color;

  $widget-border-radius: 10px;

  @keyframes pulse-light {
    0% {
      background-color: rgba($bg-undefined, 0.1)
    }
    25% {
      background-color: rgba($bg-undefined, 0.6)
    }
    50% {
      background-color: $bg-undefined
    }
    75% {
      background-color: rgba($bg-undefined, 0.6)
    }
    100% {
      background-color: rgba($bg-undefined, 0.1)
    }
  }

  .dashli-widget-undefined {
    color: $bg-undefined-text-color;
    animation: pulse-light 1.5s infinite ease-in-out;
  }

  @import 'styles';
}