.dashli-theme-light {

  $dark-color: #222;
  $light-color: white;

  $bg-neutral: #f0f3f5;
  $bg-success: #70C250;
  $bg-info: #17a8f1;
  $bg-warning: #fec22e;
  $bg-danger: #f2483f;
  $bg-undefined: #f0f3f5;

  $bg-neutral-text-color: $dark-color;
  $bg-success-text-color: $light-color;
  $bg-info-text-color: $light-color;
  $bg-warning-text-color: $light-color;
  $bg-danger-text-color: $light-color;
  $bg-undefined-text-color: $dark-color;

  $chart-neutral-line-color: rgba($dark-color, 0.5);
  $chart-neutral-fill-color: rgba($dark-color, 0.3);
  $chart-success-line-color: rgba($light-color, 0.5);
  $chart-success-fill-color: rgba($light-color, 0.3);
  $chart-info-line-color: rgba($light-color, 0.5);
  $chart-info-fill-color: rgba($light-color, 0.3);
  $chart-warning-line-color: rgba($light-color, 0.5);
  $chart-warning-fill-color: rgba($light-color, 0.3);
  $chart-danger-line-color: rgba($light-color, 0.5);
  $chart-danger-fill-color: rgba($light-color, 0.3);

  $chart-color-0: $bg-success;
  $chart-color-1: $bg-info;
  $chart-color-2: $bg-warning;
  $chart-color-3: $bg-danger;
  $chart-color-4: $dark-color;
  $chart-color-5: $bg-danger;
  $chart-color-6: $bg-danger;
  $chart-color-7: $bg-danger;
  $chart-color-8: $bg-danger;
  $chart-color-9: $bg-danger;

  $widget-border-radius: 10px;

  @keyframes pulse-light {
    0% {
      background-color: rgba($bg-undefined, 0.1)
    }
    25% {
      background-color: rgba($bg-undefined, 0.6)
    }
    50% {
      background-color: $bg-undefined
    }
    75% {
      background-color: rgba($bg-undefined, 0.6)
    }
    100% {
      background-color: rgba($bg-undefined, 0.1)
    }
  }

  .dashli-widget-undefined {
    color: $bg-undefined-text-color;
    animation: pulse-light 1.5s infinite ease-in-out;
  }

  @import 'styles';
}